<html>
    <head>
        <title>Fashion World</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- Icons -->
        
        <script src="https://kit.fontawesome.com/c26cd2166c.js"></script>

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap" rel="stylesheet">
        <!-- Bootstrab CSS Link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        
        
        <!-- Bootstrab JS Link -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    </head>
    <body>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#" >Fashion World</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/home" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shirt" >Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Women
                </a>
              </li>
              <li>
                <a href="#" class="nav-link">Kids</a>
              </li>
              <li>
                <a href="#" class="nav-link">Accessories</a>
              </li>
              <li>
                <a href="#" class="nav-link">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="px-2 search" type="search" placeholder="Search">
              <button class="btn0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>  
      
      <!-- Banner images -->
      <section class="main">
      <!-- <img src="https://www.shutterstock.com/image-photo/rome-italy-circa-november-2017-600w-1154455039.jpg" alt=""> -->
        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-7 pt-5 text-center">
              <h1 class="pt-5">Trending Collections are Available</h1>
              <button class="btn1 mt-3">More</button>
            </div>
          </div>
        </div>
      </section>

      <!-- Images display -->
      <section class="new">
        <div class="container py-5">
          <div class="row pt-5">
            <div class="col-lg-7 m-auto">
              <div class="row text-center">
                <div class="col-lg-4">
                  <img src="../static/images/1.jpeg" alt="" class="img-luid" style="width: 200px;">
                  <h6>SHIRTS</h6>
                </div>
                <div class="col-lg-4">
                  <img src="../static/images/2.jpeg" alt="" class="img-luid" style="width: 200px;">
                  <h6>T-SHIRTS</h6>
                </div>
                <div class="col-lg-4">
                  <img src="../static/images/3.jpeg" alt="" class="img-luid" style="width: 200px;">
                  <h6>HOODIES</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- MENS Products -->
      <section class="product">
        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-5 m-auto text-center">
              <h1 style="font-weight: 700;">Trending Collections</h1>
              <h6 style="color: red;">Mens</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body"> 
                  <a href="/shirt" target="_blank">
                    <img src="../static/images/5.jpeg" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
              <h6>Combo-Shirts</h6>
              <p>Rs 690</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <a href="/shirt" target="_blank">
                  <img src="../static/images/4.jpeg" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
              <h6>Formal-Shirt</h6>
              <p>Rs 650</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <a href="/shirt" target="_blank">
                  <img src="../static/images/2.jpeg" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
              <h6>T-Shirt</h6>
              <p>Rs 300</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <a href="/shirt" target="_blank">
                  <img src="../static/images/3.jpeg" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
              <h6>Hoodies</h6>
              <p>Rs 390</p>
            </div>
            <!-- Next Row -->
            <div class="row">
              <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                    <a href="/shirt" target="_blank">
                    <img src="../static/images/1.jpeg" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
                <h6>Casual-Shirts</h6>
                <p>Rs 450</p>
              </div>
              <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                    <a href="/shirt" target="_blank">
                    <img src="../static/images/6.jpeg" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
                <h6>Track Pant</h6>
                <p>Rs 300</p>
              </div>
              <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                    <a href="/shirt" target="_blank">
                    <img src="../static/images/7.jpeg" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
                <h6>3/4 pant</h6>
                <p>Rs 150</p>
              </div>
              <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                  <div class="card-body">
                    <a href="/shirt" target="_blank">
                    <img src="../static/images/8.jpeg" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
                <h6>Pants</h6>
                <p>Rs 600</p>
              </div>
          </div>

          <div class="row">
            <div class="col-lg-6 text-center m-auto">
              <button class="btn1">Click For More</button>
            </div>
          </div>

        </div>
      </section>

      <!-- KIDS Product -->
      <section class="product">
        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-5 m-auto text-center">
              <h1 style="font-weight: 700;">Trending Collections</h1>
              <h6 style="color: red;">Kids</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/9.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>T-Shirts</h6>
              <p>Rs 490</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/10.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Shirts</h6>
              <p>Rs 550</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/11.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Jeans</h6>
              <p>Rs 700</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/12.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Hoodies</h6>
              <p>Rs 490</p>
            </div>
          </div>

          <!-- Next Row -->
          <div class="row">
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/13.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Shoes</h6>
              <p>Rs 500</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/14.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Combo-T-Shirts</h6>
              <p>Rs 650</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/15.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>T-shirts</h6>
              <p>Rs 180</p>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                  <img src="../static/images/16.jpeg" class="img-fluid" alt="">
                </div>
              </div>
              <h6>Baby Dress</h6>
              <p>Rs 300</p>
            </div>





          <div class="row">
            <div class="col-lg-6 text-center m-auto">
              <button class="btn1">Click For More</button>
            </div>
          </div>

        </div>
      </section>

      <!-- Contact -->
      <section class="contact py-5">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-5 m-auto text-center">
              <h1>Contact Us</h1>
              <h6>Always be in Touch with Us</h6>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-lg-9 m-auto">
              <div class="row">
                <div class="col-lg-4">
                  <h6>LOCATION</h6>
                  <p>SR Colony, First Street, Madambakkam</p>
        
                  <h6>PHONE</h6>
                  <p>+91 6380162771</p>
          
                  <h6>EMAIL</h6>
                  <p>pandiarajs2000@gmail.com</p>
                
              </div>
              <!-- form control -->
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control bg-light" placeholder="First Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control bg-light" placeholder="Last Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 py-3">
                    <textarea name="" id="" cols="10" rows="5" placeholder="Comments" class="form-control bg-light"></textarea>
                  </div>
                </div>
                <!-- button -->
                <button class="btn1">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Bottom section -->
      <section class="news py-5">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-9 m-auto text-center">
              <h1>Join Our Secret Society</h1>
              <input type="text" class="px-3" placeholder="Enter Your Email" name="" id="">
              <button class="btn2">Submit</button>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg-11 m-auto">
              <div class="row">
                <div class="col-lg-3 py-3">
                  <h5 class="pb-3">Fashion World</h5>
                  <p>Who We Are</p>
                  <p>Join Our Team</p>
                  <p>Terms & Conditions</p>
                </div>
                <div class="col-lg-3 py-3">
                  <h5 class="pb-3">Help</h5>
                  <p>Track Your Order</p>
                  <p>FAQs</p>
                  <p>Returns</p>
                </div>
                <div class="col-lg-3 py-3">
                  <h5 class="pb-3">Shop by</h5>
                  <p>Men</p>
                  <p>Women</p>
                  <p>Kids</p>
                </div>
                <div class="col-lg-3 py-3">
                  <h5 class="pb-3">Follow Us</h5>
                  <span><i class="fab fa-facebook" onclick="openFacebook()"></i></span>
                  <span><i class="fab fa-instagram" onclick="openInstagram()"></i></span>
                  <span><i class="fab fa-twitter" onclick="openTwitter()"></i></span>
                  <span><i class="fab fa-google-plus"></i></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <p class="text-center">Copyright @2022 All righs resrved | This template is made with by Pandiaraj</p>        
        </div>
      </section>

      <!-- Move Next Page -->
      <script>
        function openFacebook()
        {
          window.open('https://www.facebook.com','_blank')
        }
        function openInstagram()
        {
          window.open('https://www.instagram.com','_blank')
        }
        function openTwitter()
        {
          window.open('https://www.twitter.com','_blank')
        }
        function openShirtsPage()
        {
          window.open('shirts_page.html','_blank')
        }
      </script>

    </body>
</html>